<footer class="footer-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12 ">
                <div class="footer-top d-flex flex-wrap justify-content-between">
                    <div class="subscribe d-flex align-items-center">
                        <h4 class="text-uppercase text-white mb-0">
                            NEWSLETTER
                        </h4>
                        <div class="subscribe-form d-flex">
                            <input type="text"  class="form-control" placeholder="Enter your email here">
                            <button class="text-uppercase" type="submit">subscribe</button>
                        </div>
                    </div>
                    <div class="social-icons d-flex">
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                    </div>
                </div>
                <div class="footer-links">
                    <ul>
                        <li><a href="#">About the project.</a></li>
                        <li>Powered by GHOST</li>
                        <li>&copy {{ @site.title }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>